{
	"presets": ["@babel/preset-env"],
	"plugins": [
		["@babel/transform-runtime"],
		[
			"module-extension",
			{
				"mjs": "js",
				"cjs": "js"
			}
		],
		[
			"bundled-import-meta",
			{
				"mappings": {
					"node_modules": "/assets"
				},
				"bundleDir": "html"
			}
		]
	]
}
