.all-messages-container {
	width: 60vw;
	margin: 0 auto;
}

.comment-app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.all-messages-container {
		width: 98vw;
	}
}
