.message-container {
	width: 100%;
}

.reply-container {
	display: block;
	width: 98%;
	margin-left: 2%;
	max-height: 0;
	overflow-y: hidden;
	will-change: transform;
	z-index: -1;
}

.open-replies {
	animation: slideIn 0.35s forwards;
}

.close-replies {
	animation: slideOut 0.1s forwards;
}

@keyframes slideIn {
	from {
		max-height: 0;
		opacity: 0;
	}

	to {
		max-height: 5000px;
		opacity: 1;
		border: none;
	}
}

@keyframes slideOut {
	0% {
		max-height: 5000px;
		opacity: 1;
	}

	75% {
		opacity: 0.8;
	}

	100% {
		max-height: 0;
		opacity: 0;
	}
}

@media screen and (max-width: 800px) {
	.reply-container {
		display: block;
		width: 100%;
		margin-left: 0;
		max-height: 0;
	}
}
